<div class="grid">
  <ul class="list-bookmarks">
    <li data-ng-repeat='bm in bmIdArr'>
      <div class="card">
        <div class="edit-toggle">
          <span class="glyphicon glyphicon-pencil"></span>
        </div>
        <a class="bookmark-link" data-ng-href="{{bm.url}}" target="_blank"></a>
        <div class="thumbnail" style="background: url(images/tile-bg-1.jpg)"></div>
        <div class="details">
          <img class="favicon" src="images/favicons/denisgladkikh-favicon.ico">
          <h2>
            {{bm.title}}
          </h2>
          <div class="tag-links">
              <a>tag1</a>
              <a>tag2</a>
              <a class="badge-custom">Development</a>
          </div><!-- tags -->
        </div><!-- details -->
      </div><!-- card -->
    </li>


    <li>
      <div class="card">
        <div class="edit-toggle"></div>
        <a class="bookmark-link" href="http://outcoldman.com/" target="_blank"></a>
        <div class="thumbnail" style="background: url(images/tile-bg-1.jpg)"></div>
        <div class="details">
          <!-- <img class="favicon" src="images/favicons/denisgladkikh-favicon.ico"> -->
          <h2>Denis Gladkikh - My personal blog about software development</h2>
            <div class="tag-links">
              <a>Blogs</a>
              <a>Software</a>
              <a class="badge-custom">Development</a>
          </div><!-- tags -->
        </div><!-- details -->
      </div><!-- card -->
    </li>

    <li>
      <div class="card">
        <div class="edit-toggle"></div>
        <a class="bookmark-link" href="http://outcoldman.com/" target="_blank"></a>
        <div class="thumbnail" style="background: url(images/tile-bg-1.jpg)"></div>
        <div class="details">
          <!-- <img class="favicon" src="images/favicons/denisgladkikh-favicon.ico"> -->
          <h2>Denis Gladkikh - My personal blog about software development</h2>
            <div class="tag-links">
              <a>Blogs</a>
              <a>Software</a>
              <a class="badge-custom">Development</a>
          </div><!-- tags -->
        </div><!-- details -->
      </div><!-- card -->
    </li>

    <li>
      <div class="card">
        <div class="edit-toggle"></div>
        <a class="bookmark-link" href="http://outcoldman.com/" target="_blank"></a>
        <div class="thumbnail" style="background: url(images/tile-bg-2.jpg)"></div>
        <div class="details">
          <!-- <img class="favicon" src="images/favicons/denisgladkikh-favicon.ico"> -->
          <h2>Denis Gladkikh - My personal blog about software development</h2>
            <div class="tag-links">
              <a>Blogs</a>
              <a>Software</a>
              <a class="badge-custom">Development</a>
          </div><!-- tags -->
        </div><!-- details -->
      </div><!-- card -->
    </li>

    <li>
      <div class="card">
        <div class="edit-toggle"></div>
        <a class="bookmark-link" href="http://outcoldman.com/" target="_blank"></a>
        <div class="thumbnail" style="background: url(images/tile-bg-2.jpg)"></div>
        <div class="details">
          <!-- <img class="favicon" src="images/favicons/denisgladkikh-favicon.ico"> -->
          <h2>Denis Gladkikh - My personal blog about software development</h2>
            <div class="tag-links">
              <a>Blogs</a>
              <a>Software</a>
              <a class="badge-custom">Development</a>
          </div><!-- tags -->
        </div><!-- details -->
      </div><!-- card -->
    </li>

    <li>
      <div class="card">
        <div class="edit-toggle"></div>
        <a class="bookmark-link" href="http://outcoldman.com/" target="_blank"></a>
        <div class="thumbnail" style="background: url(images/tile-bg-2.jpg)"></div>
        <div class="details">
          <!-- <img class="favicon" src="images/favicons/denisgladkikh-favicon.ico"> -->
          <h2>Denis Gladkikh - My personal blog about software development</h2>
            <div class="tag-links">
              <a>Blogs</a>
              <a>Software</a>
              <a class="badge-custom">Development</a>
          </div><!-- tags -->
        </div><!-- details -->
      </div><!-- card -->
    </li>

    <li>
      <div class="card">
        <div class="edit-toggle"></div>
        <a class="bookmark-link" href="http://outcoldman.com/" target="_blank"></a>
        <div class="thumbnail" style="background: url(images/tile-bg-3.jpg)"></div>
        <div class="details">
          <!-- <img class="favicon" src="images/favicons/denisgladkikh-favicon.ico"> -->
          <h2>Denis Gladkikh - My personal blog about software development</h2>
            <div class="tag-links">
              <a>Blogs</a>
              <a>Software</a>
              <a class="badge-custom">Development</a>
          </div><!-- tags -->
        </div><!-- details -->
      </div><!-- card -->
    </li>

    <li>
      <div class="card">
        <div class="edit-toggle"></div>
        <a class="bookmark-link" href="http://outcoldman.com/" target="_blank"></a>
        <div class="thumbnail" style="background: url(images/tile-bg-3.jpg)"></div>
        <div class="details">
          <!-- <img class="favicon" src="images/favicons/denisgladkikh-favicon.ico"> -->
          <h2>Denis Gladkikh - My personal blog about software development</h2>
            <div class="tag-links">
              <a>Blogs</a>
              <a>Software</a>
              <a class="badge-custom">Development</a>
          </div><!-- tags -->
        </div><!-- details -->
      </div><!-- card -->
    </li>

    <li>
      <div class="card">
        <div class="edit-toggle"></div>
        <a class="bookmark-link" href="http://outcoldman.com/" target="_blank"></a>
        <div class="thumbnail" style="background: url(images/tile-bg-3.jpg)"></div>
        <div class="details">
          <!-- <img class="favicon" src="images/favicons/denisgladkikh-favicon.ico"> -->
          <h2>Denis Gladkikh - My personal blog about software development</h2>
            <div class="tag-links">
              <a>Blogs</a>
              <a>Software</a>
              <a class="badge-custom">Development</a>
          </div><!-- tags -->
        </div><!-- details -->
      </div><!-- card -->
    </li>

    <li>
      <div class="card">
        <div class="edit-toggle"></div>
        <a class="bookmark-link" href="http://outcoldman.com/" target="_blank"></a>
        <div class="thumbnail" style="background: url(images/tile-bg-2.jpg)"></div>
        <div class="details">
          <!-- <img class="favicon" src="images/favicons/denisgladkikh-favicon.ico"> -->
          <h2>Denis Gladkikh - My personal blog about software development</h2>
            <div class="tag-links">
              <a>Blogs</a>
              <a>Software</a>
              <a class="badge-custom">Development</a>
          </div><!-- tags -->
        </div><!-- details -->
      </div><!-- card -->
    </li>



  </ul>
</div>